html, 
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #444;
    font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
    height: 100%;
    font-size: 12px;
    overscroll-behavior-y: none;
}

#app {
    height: 100%;
    width: 100%;
}

.editor {
    height: 100%;
}
.editor .cm-editor {
    height: 100%;
}

#syntaxTree {
    height: 20%;
    overflow-y: auto;
}
