@use "include" as *

.heynote-image
    --snapped-outline-color: var(--highlight-color)
    --outline-color: #2482ce
    --handle-color: #ccc
    --image-border-color: #c9c9c9
    +dark-mode
        //--outline-color: var(--highlight-color)
        //--outline-color: #b3bfcc
        //--outline-color: #17242b
        --outline-color: #0060c7
        --snapped-outline-color: #39a363
        //--outline-color: #549a70
        --handle-color: #192736
        --image-border-color: #252525
    padding: 6px 2px
    display: inline-block
    position: relative
    vertical-align: middle

    &.folded
        padding: 0
        //vertical-align: middle
        &.selected
            padding: 0
        .resize-handle
            display: none
    
    .inner
        position: relative
        border: 1px solid var(--image-border-color)
        &:hover
            //border: 1px solid var(--outline-color)
            .buttons-container
                opacity: 1
        img
            display: block
            max-width: 100%
            min-height: 16px
            min-width: 16px
        .highlight-border
            display: none
            position: absolute
            top: -2px
            bottom: -2px
            left: -2px
            right: -2px
            border: 3px solid var(--outline-color)
        .buttons-container
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            display: flex
            padding: 7px
            align-items: flex-start
            justify-content: left
            opacity: 0
            //transition: opacity 100ms ease-in-out
            overflow: hidden
            container-type: inline-size
            button
                font-size: 12px
                background-color: #646e71
                color: #fff
                opacity: 0.5
                transition: opacity 200ms
                //background-color: #51595c
                background-image: url("@/assets/icons/copy-dark.svg")
                background-size: 13px
                background-position: 6px center
                background-repeat: no-repeat
                padding: 3px 7px 3px 22px
                border: none
                border-radius: 3px
                cursor: pointer
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3)
                min-width: 0
                white-space: nowrap
                overflow: hidden
                &:hover
                    background-color: #51595c
                    opacity: 1.0
                @container (max-width: 50px)
                    display: none
                

    
    &.selected
        --handle-color: var(--outline-color)
        +dark-mode
            --handle-color: var(--outline-color)
        .inner
            //border: 2px solid var(--outline-color)
            .highlight-border
                display: block
        .resize-handle
            opacity: 1.0
            .icon
                background-image: url("@/assets/icons/resize-handle-se-dark.png")
        &:hover
            .resize-handle
                opacity: 1.0
    
    &:hover
        .resize-handle
            opacity: 0.5
            &:hover
                opacity: 1.0
    
    .resize-handle
        opacity: 0
        transition: opacity 200ms
        width: 0
        height: 0
        position: absolute
        right: 2px
        bottom: 6px
        border-bottom: 10px solid var(--handle-color)
        border-right: 10px solid var(--handle-color)
        border-left: 10px solid transparent
        border-top: 10px solid transparent
        cursor: nwse-resize
        z-index: 10
        .icon
            position: absolute
            top: -4px
            left: -4px
            background-image: url("@/assets/icons/resize-handle-se-light.png")
            background-size: 100%
            width: 12px
            height: 12px
            +dark-mode
                background-image: url("@/assets/icons/resize-handle-se-dark.png")
    
    &.resizing
        .inner .buttons-container
            display: none
        .resize-handle
            opacity: 1
            transition: none
        &.snapped
            --outline-color: var(--snapped-outline-color)

